
html, body {
    position: relative;
    height: 100%;

}
body {

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    background-color: #00cbf6;
}
.swiper-container {
    background-color: #00cbf6;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-color: #00cbf6;
    background-size: cover;
    background-position: center;
}
.gallery-top {
    background-color: #00cbf6;
    height: 80%;
    width: 100%;
}
.gallery-thumbs {
    background-color: #00cbf6;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
    background-color: #00cbf6;
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}