@import '../style/style.css';

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;

}

*:focus {
    outline:0;
}

section {
    width: 1200px;
}

h2 {
    font-size: 79px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

h3 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

h4 {
    font-size: 36px;
    color: #d4d4d4;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    color: #717171;
    line-height: 18px;
}

.icon-add {
    padding-right:16px;
    transform: translateY(20%);
}

button {
    background-color: #18cfab;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    height: 60px;
    border-radius: 4px;
    border-style: none;
    padding-right: 32px;
    padding-left: 32px;
}

button:focus {
    outline:0;
}

#core {
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size:1680px;
    margin: 0 auto;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 14px;
}

header {
    height: 120px;
    background-color: rgba(58, 57, 53, 0.61);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 1200px;
    display: flex;
    align-items: center;
}

.nav--logotype {
    display: flex;
    height: 100%;
}

.logo {
    background-color: #18cfab;
    font-weight: bold;
    width: 58px;
    height: 32px;
}

.logo:before {
    position: relative;
    top: -31px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 29px 15px 29px;
    border-color: transparent transparent #18cfab transparent;
}

.logo:after {
    position: relative;
    top: 49px;
    left: -58px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 29px 0 29px;
    border-color: #18cfab transparent transparent transparent;
}

.logo--type {
    position: relative;
    left: -24px;
    font-size: 32px;
    color: white;
    justify-self: start;
}

.logo--type--H {
    font-size: 40px;
    font-weight: bold;
    color: white;
    position: relative;
    left: -44px;
    top: -3px;
}

.logo--type--style {
    color: #18cfab;
    font-weight: bold;
}

.menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin:0 auto;
}

.menu {
    position: relative;
    width: 644px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin:0 auto;
}

.menu .menu--item {
    font-size: 13px;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #b8b8b8;
}

.menu-item--link span:after{
    content:'';
    position: absolute;
    top: 66px;
    left: 0;
    height: 3px;
    width: 44px;
    background-color: #18cfab;
}

.menu-item--link:hover {
    color: #18cfab;
    cursor: pointer;
}

.menu-wrapper img:hover {
    filter: brightness(0.6) sepia(1) hue-rotate(120deg) saturate(6);
}

.banner {
    width: 100%;
    height: 890px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.banner--titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 244px;
}

.banner--titles--eyebrow {
    margin-bottom: 28px;
}

.banner--titles--promo {
    margin-bottom: 16px;
}

.banner--titles--description {
    margin-bottom: 140px;
    text-transform: capitalize;
    font-weight: lighter;
}

.banner--button-group {
    display: flex;
}

.banner--button {
    font-size: 14px;
    margin-right: 14px;
    background: linear-gradient(white 6%,  #18cfab 6%);
}

.banner--button--CTA {
    font-size: 14px;
    margin-left: 14px;
    background: linear-gradient(white 6%, #00cbf6 6%);
}

.benefits {
    width: 100%;
}

.benefits--list {
    display: flex;
    align-items: flex-start;
    background-color: #18cfab;
}

.benefits--list--item {
    background: linear-gradient(#18cfab 2%,  #1c2a33 2%);
    position: relative;
    width: 25%;
    height: 374px;
    flex-wrap: wrap;
}

.benefits--list--item:nth-child(even) {
    background: linear-gradient(white 2%,  #18cfab 2%);
}

.content {
    margin-top: 75px;
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    flex-direction: column;
    color: #fff;
    height:55%;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.services {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 560px;
}

hr {
    border: 1px solid  #18cfab;
    margin-top: 26px;
    width: 80px;
    box-shadow: 10px 4px 0 0 rgba(24,207,171,1);
}

.services--title {
    margin-top: 70px;
    text-transform: capitalize;
    color: #4e4e4e;
}

.services--list {
    margin-top: 80px;
    height: 236px;
    width: 1200px;
}

.services--tabs {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: stretch;
    width: 1200px;
}

.services--tabs--item {
    position: relative;
    width: 200px;
    height: 73px;
    background-color: #F7FBFE;
    border: 1px solid #f3f3f3;
    border-radius: 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: capitalize;
    color: #717171;
}

.services--tabs--item--active {
    box-shadow: 0 -2px 0 0 #18cfab;
}

.services--card {
    margin-top: 24px;
    width: 1200px;
}

.services--card--image {
    width: 194px;
    height: 139px;
    background-color: #eaa3fe;
    float: left;
    margin-right: 20px;
}

.services--card--text {
    color: #777777;
    text-align: justify;
    font-size: 14px;
    line-height: 24px;
}

.CTA {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)),
    url("../img/Sections background/section-2.jpg");
    background-size: cover;
    height: 476px;
    width: 100%;
}

.CTA--promo-text {
    margin-top: 124px;
    color: #18cfab;
}

.CTA--body-text {
    margin-top: 28px;
    font-size: 16px;
    color: rgba(216, 216, 216, 0.8)
}

.CTA--button {
    font-size: 14px;
    margin-top: 80px;
    background: linear-gradient(white 6%,  #18cfab 6%);
}

.our-work {
    margin: 0 auto;
    background-color: #F7FBFE;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.our-work--title {
    margin-top: 97px;
    text-transform: capitalize;
    color: #4e4e4e;
}

.our-work--list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 70px;
    background-color: #F7FBFE;
    width: 1140px;
}

.our-work--list--tabs {
    display: flex;
    justify-content: center;
    height: 58px;
    width: 610px;
    margin-bottom: 64px;
}

.our-work--list--tabs--item {
    color: #717171;
    background-color: white;
    border-radius: 0;
    text-transform: capitalize;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #f3f3f3;
}

.our-work--list--cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    width: 1144px;
    background-color: rgb(186, 255, 178);
}

.our-work--button {
    font-size: 14px;
    margin-top: 70px;
    margin-bottom: 100px;
}

.image-container {
    float: left;
    position: relative;
    /*width: 284px;*/
    /*height: 206px;*/
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.image-container:hover .after {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#18cfab 1%,  white 1%);
    color: black;
    text-transform: capitalize;
}

.icon--style--ref {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.icon--style--search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #18cfab;
    border-radius: 50%;
}

.icon--container {
    width: 88px;
    margin-top: 47px;
    margin-bottom: 34px;
    display: flex;
    justify-content: space-between;
}

.braking-news {
    margin: 0 auto;
    height: 959px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.braking-news--title {
    margin-top: 84px;
    text-transform: capitalize;
    color: #4e4e4e;
}

.braking-news--list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
    height: 605px;
    width: 1200px;
}

.braking-news--list--card {
    background-color: #F7FBFE;
    border: 1px solid #E8E8E8;
    height: 280px;
    position: relative;
    cursor: pointer;
}


.braking-news--list--card--date {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    height: 66px;
    width: 68px;
    font-size: 16px;
    background-color: #1E3631;
    color: white;
}

.card--date--day {
    margin-top: 14px;
}

.card--date--month {
    margin-top: 8px;
}

.braking-news--list--card--title {
    margin-top: 10px;
    margin-left: 20px;
}

.braking-news--list--card--content-wrapper {
    margin-top: 10px;
    margin-left: 20px;
}

.braking-news--list--caption--admin {
    float: left;
    line-height: 14px;
}

.braking-news--list--caption--border {
    float: left;
    margin-left: 8px;
    line-height: 14px;
}

.braking-news--list--caption--comment {
    float: left;
    margin-left: 8px;
    line-height: 14px;
}

.reviews {
    height: 852px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(0, 5, 9, 0.65), rgba(0, 5, 9, 0.55)),
    url("../img/Sections background/section-3.jpg");
    background-size: cover;
}

.reviews--title {
    margin-top: 99px;
    text-transform: capitalize;
}

blockquote {
    position: relative;
    width: 70%;
    color: #bbbbbb;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    margin-top: 69px;
    position: absolute;
    font-family: 'Spirax', cursive;
    color: #18cfab;
    content: open-quote;
    font-size: 160px;
    line-height: 120px;
}

.gallery {
    height: 1366px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F7FBFE;
}

blockquote p {
    margin-top: 140px;
    margin-bottom: 44px;
}

.review--text {

    /*margin-top: 10px;*/
    margin-bottom: 30px;
    color: #bbbbbb;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;
}

.gallery--list {
    margin-top: 75px;
    height: 921px;
    width: 1200px;
    background-color: #ffd3d1;
}

.gallery--button {
    margin-top: 67px;
}

footer {

    height: 108px;
    background-color: black;
}

.highlight--type {
    color:#1EC7A1;
}

.footer-text {
    font-size: 14px;
    color: #bbbbbb;
    line-height: 100px;
    text-align: center;
}

.active {
    background-color:#1EC7A1;
    color: white;
}

.active:after {
    position: absolute;
    top: 71px;
    left: 45%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0 11px;
    border-color: #18cfab transparent transparent transparent;
}

.hidden {
    display: none;
}

.swiper-container {

    width: 320px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 380px;
    width: 1200px;
}

.gallery-thumbs {
    height: 100px;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 60px;
    height: 60px;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
    margin-top: -20px;
}

.person {
    margin: 50px auto 0;
    border-radius: 50%;
    border: 3px solid #1ec7a1;
    box-shadow: 0 0 0 10px hsla(167, 74%, 45%, .2);
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-size: 140px 140px;
}

.reviews--person--name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    color: #1ec7a1;
    line-height: 18px;
}

.reviews--person--position {
    margin-top: 12px;
    text-align: center;
    line-height: 14px;
    color: #bbbbbb;
}

.person-thumbs {
    margin: 26px auto 0;
    border-radius: 50%;
    border: 1px solid #1ec7a1;
    box-shadow: 0 0 0 5px hsla(167, 74%, 45%, .3);
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
}

.naves {
    position: relative;
    bottom: 0;
    width: 1200px;
    height: 900px;
}

.swiper-button-prev{
    width: 80px !important;
    height: 80px !important;
    position: absolute;
    margin-left: 360px;
    border: 1px solid white !important;
    transform:scale(.32) translateY(470px);
}

.swiper-button-next{
    position: absolute;
    width: 80px !important;
    height: 80px !important;
    border: 1px solid white !important;
    margin-right: 360px;
    transform:scale(.32) translateY(470px);
}

.swiper-button-prev:hover {
    position: absolute;
    width: 80px !important;
    height: 80px !important;
    background-color: #1ec7a1 !important;
    margin-left: 360px;
    bottom: 10px;
    transform:scale(.32) translateY(470px);
}

.swiper-button-next:hover {
    position: absolute;
    width: 80px !important;
    height: 80px !important;
    background-color: #1ec7a1 !important;
    margin-right: 360px;
    bottom: 10px;
    transform:scale(.32) translateY(470px);
}

