
body {
    font-family: "Myriad Pro", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.highlight {
    color: #5CC9FA;
}

.header {
    background-color: #35444f;
    text-align: center;
    margin-bottom: 51px;
}

.header li {
    display: inline;
}

.header a {
    display: inline-block;
    font-size: 24px;
    color: white;
    padding: 23px 41px;
}

.header a:hover {
    background-color: #222f3a;
    border-left: 1px solid #7F8080;
    border-right: 1px solid #7F8080;
}

.main {
    float: right;
    width: 885px;
}

p:last-child {
    padding-bottom: 51px;
}

.wrapper {
    box-sizing: border-box;
    width: 885px;
    height: 529px;
    line-height: 529px;
    margin-bottom: 51px;
}

.helper {
    box-sizing: border-box;
    width: 320px;
    height: 381px;
    display: block;
    margin: 0 auto;
}

img {
    vertical-align: middle;
}

img:hover {
    transform: scale(1.2);
    transition: all 200ms;
    cursor: pointer;
}

h1 {
    padding: 61px 0 61px;
    font-size: 80px;
}

h1 a {
    color: #000;
}

.text {
    margin: 0 auto;
    padding-bottom: 31px;
    width: 815px;
    font-size: 18px;
}

.aside {
    float: left;
    width: 344px;
    font-size: 27px;
    border: 1px solid #ccc;
}


.aside a {
    display: block;
    padding: 28px 0 28px 44px;
    color: #455662;
}

.aside a:hover {
    background-color: #dbdbdb;
    color: #000;
    padding-left: 69px;
}

.footer {
    clear: both;
    height: 69px;
    line-height: 69px;
    background-color: #B5B8BC;
}


.footer ul {
    display: inline-block;
    vertical-align: top;
}

.footer li {
    display: inline;


}

.footer a {
    font-size: 28px;
    color: #000;
    padding-right: 20px;
}

.footer a:hover {
    color: #3181a6;
    text-decoration: underline;
}

.footer li:first-child {
    padding-left: 44px;
}


.copy {
    display: inline-block;
    text-align: right;
    font-size: 24px;
    vertical-align: middle;
    padding-right: 44px;
    padding-left: 140px;
}


