

body {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #484848;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}


i {
    color: #848484;
}

table {
    width: 1149px;
    height: 617px;
    border: 3px solid #3a4965;
}

span {
    font-size: 14px;
    font-weight: bold;
}

th{
    font-size: 20px;
    font-weight: bold;
    color: #484848;
}

tr:first-child {
    height: 112px;
}

td, th{

    background-color: #f2f2f2;
    width: 157px;
    vertical-align: middle;
    line-height: 28px;
}

td:nth-child(even) {
    background-color: #e3e3e3;
}

tr th:nth-child(even) {
    background-color: #e3e3e3;
}


.pricing-plan {
    font-weight: bolder;
    width: 198px;
    background-color: #F9F9F9;
    vertical-align: middle;
    line-height: 20px;
}

.standard-plan {
    box-shadow: none;
    width: 198px;
    background-color: #7EBB35;
    font-size: 24px;
    color: white;
}

.ultimate-plan{
    box-shadow: none;
    width: 198px;
    background-color: #ED4650;
    font-size: 24px;
    color: white;
}

.premium-plan {
    box-shadow: none;
    width: 198px;
    background-color: #207470;
    font-size: 24px;
    color: white;
}

.wrapper {
    padding: 12px 10px 14px;
    height: 28px;
}

.price{
    font-size: 36px;
}

.dec {
    line-height: 18px;
    font-size: 18px;
}

.month {
    margin-top: 14px;
    float: right;
    padding-left: 6px;
    line-height: 14px;
    font-size: 14px;
}

.clear-fix{

    display: block;
    clear: both;
}

.price, .dec, .month {
    float: left;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    line-height: 41px;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 6px;
    width: 144px;
    height: 41px;
    color: white;
    background: linear-gradient(#393939 90%, #1c1c1c 90%);
}

.btn:hover {
    cursor: pointer;
    background: #474747;
}

td {
    box-shadow: 0 -2px 3px -1px rgb(200, 200, 200);
}

