* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    text-align: left;
    color: grey;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: 100vw;
}

a {
    color: #37AE6E;
    text-decoration: none;

}

header {
    height: 54px;
    line-height: 54px;
    background-color: rgba(0,0,0,0.5);
    color: white;
}

.logo {
    margin-left: 81px;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.calendar-ico {
    margin: 17px 14px 0;
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/sprite-1.png) -50px -50px;
}

.forum-ico {
    margin: 17px 14px 0;
    float: right;
    display: inline-block;
    width: 28px;
    height: 20px;
    background: url(../img/sprite-1.png) -10px -10px;
}


.journey-ico {
    margin: 17px 14px 0;
    float: right;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/sprite-1.png) -10px -50px;
}

fieldset {
    margin: auto;
    position: absolute;
    top: 54px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 444px;
    height: 584px;
    background-color: white;
    border-radius: 8px;
}

.rect-decor {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #37AE6E;
    top: 30px;
}

form {
    width: 322px;
    margin:  0 auto;
}

h3 {display: inline-block;
    float: left;
    font-size: 20px;
    text-align: left;
    color: #434343;
    margin-top: 29px;
    margin-bottom: 24px;
}

.entry {
    vertical-align: middle;
    display: inline-block;
    float: right;
    padding-right: 75px;
    padding-left: 36px;
}

.login {
    float: right;
    line-height: 19px;
    margin-top: 29px;
    margin-bottom: 24px;
}

.btn {
    display: inline-block;
    float: left;
    width: 157px;
    height: 46px;
    line-height: 46px;
    color: white;
    border-radius: 4px;
}

.fb {
    vertical-align: middle;
    background-color: #2C52AC;
    clear: left;
}

.fb a {
    vertical-align: middle;
    font-size: 16px;
    color: white;
}

.fb-ico {
    box-sizing: content-box;
    background: url(../img/sprite-1.png) -103px -10px;
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 20px;
    margin: 0 18px 0;
    padding-left: 18px;
    border-right: 1px solid #1f3b9e;
}

.goo {
    vertical-align: middle;
    background-color: #D94533;
    float: right;
}

.goo a {
    font-size: 16px;
    color: white;
    vertical-align: middle;
}


.goo-ico {
    box-sizing: content-box;
    background: url(../img/sprite-1.png) -58px -10px;
    vertical-align: middle;
    display: inline-block;
    width: 25px;
    height: 20px;
    margin: 0 18px 0;
    padding-left: 10px;
    border-right: 1px solid #be0c19;
}

hr {

    border: 1px solid #F0F0F0;
    border-bottom: transparent;
    float: left;
    width: 135px;
    margin-top: 37px;
}

.divider{
    float: left;
    margin: 33px 18px 8px;
}

input {
    width: 322px;
    height: 46px;
    margin: 5px 0 5px;
    border: 1px solid #F0F0F0;
    border-radius: 4px;
}

::placeholder {
    color: #bebebe;
    padding-left: 19px;
    font-size: 14px;
}

input:last-of-type {
    width: initial;
    height: initial;
    margin-top: 17px;
}

label {
}

button {
    margin-top: 18px;
    font-size: 16px;
    background-color: #37AE6E;
    width: 100%;
    height: 46px;
    color: white;
}

input:focus{
    outline: none;
    box-shadow: 0px 3px 8px 0 rgba(0, 0, 0, 0.21);
}

input:last-of-type:focus {
    box-shadow: none;
}