@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd.otf');
}

body {
    width: 100%;
    height: 100%;
    line-height: 100px;
    background: #000;
    overflow: hidden;
    font-family: 'Univers LT Std', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #FACE2F;
    letter-spacing: 6px;
    text-align: justify;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    perspective: 600px;


}

.text-wrap {
    position: relative;
    transform-origin: 50% 100%;
    animation-name: star-text;
    animation-duration: 30s;
    animation-timing-function: linear;



}

@keyframes star-text {
    0% {
        transform: rotateX(30deg) translateY(40vh);
    }
    100% {

        transform:rotateX(30deg) translateY(-400vh);

    }
}