body {
    font-family: sans-serif;
}

/*.input-default {*/
/*    outline: 1px solid #2138cd;*/
/*}*/

#input:focus {
    outline: 1px solid limegreen;
}

.input-good-price{
    background-color: rgba(50, 205, 50, 0.2);

}

.input-error{
    outline: 1px solid #cd0007;
}

.current-price-eyebrow-none {
   display: none;
}

.current-price-eyebrow {
    color: #cdcdcd;
    display: block;
    width: fit-content;
    border: 2px solid #cdcdcd;
    border-radius: 20px;
    padding: 2px 8px 2px;
    margin-bottom: 4px;
}

.error-message-none {
 display:none;
}

.error-message {
    font-size: 12px;
    display:block;
    color: #cd0007;
}

img {
    opacity: 0.4;
    vertical-align: middle;
    padding: 0 0 2px 6px;
    width: 16px;
}

