@font-face {
    font-family: "Open Sans";
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
    src: url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
    src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    color: #5b6469;
    width: 1900px;
    margin: 0 auto;
}

header {
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #1B1E20;
    align-items: center;
}


.navbar {
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: #4d5659;
    align-items: center;
}


h1{
    margin-left: 16px;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.logo-architect {

    height: 27px;
    width: 27px;
    background-image: url("../img/logos/architect.png");
    margin-left: 20px;
}

.nav {

    display: flex;
    list-style-type: none;
    margin:0 auto;
}




.nav li{
    margin-left: 37px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.nav li:hover {
    cursor: pointer;
}

.nav li:first-child {
    margin-left: initial;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-left: auto;
    width: 70px;
    height: 70px;
    background-color: black;
}

.icon-search {
    align-self: center;

}

.banner {
    background-attachment: fixed;
    height: 380px;
    background-image: url("../img/header-bg.jpeg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {
    font-size: 18px;
    font-weight: 600;
    color: white;
    height: 55px;
    width: 170px;
    border-radius: 4px;
    border: none;
    margin-top: 44px;
}

button:hover {
    cursor: pointer;
}

.btn-subscribe {
    background-color: #7EC25C;
    margin-right: 10px;
}

.btn-choice {
    background-color: #1CAFCD;
    margin-left:10px;
}

h2 {
    font-size: 27px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 32px;
    color: #18b4cf;
    height: 136px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
}

.creme-bg {
    background-color: #F0F0F0;
}

.pop-post {
    display: inline-flex;
    writing-mode: vertical-lr;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 920px;
    width: inherit;
    background-color: #F0F0F0;
    padding-left: 330px;
    padding-right: 330px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    height: 320px;
    margin: 15px 15px 15px;
    writing-mode: horizontal-tb;
}

h4 {
    height: 62px;
    width: inherit;
    line-height: 62px;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: #353a3d;
    text-align: center;
}


.card-1 {
    height: 320px;
    order: 1;
}

.card-2 {
    height: 440px;
    order: 3;
}

.card-3 {
    height: 355px;
    order: 5;
}

.card-4 {
    height: 320px;
    order: 2;
}

.card-5 {
    height: 310px;
    order: 4;
}

.card-6 {
    height: 440px;
    order: 6;
}

.pop-client {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 588px;
    background-image: url("../img/parallax-bg.jpeg");
    background-attachment: fixed;

}

.title-wrap{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: end;
}

.title-elem {
    grid-column: 1 / span 1;
}


.for-divider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.divider {
    width: 100px;
    height: 3px;
    background-color: #1B90A9;
}

.logo-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: start;
}

.item-1 {
    grid-column: 1 / span 1;
}

.item-2 {
    grid-column: 2 / span 1;
}

.item-3 {
    grid-column: 3 / span 1;
}

.item-4 {
    grid-column: 4 / span 1;
}

.top-rated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.hot-news {
    padding-left: 364px;
    padding-right: 364px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 259px 418px 418px 259px;
    grid-column-gap: 60px;
    grid-row-gap: 42px;
}

.article {
    background-color: #F8F6F6;

}

.article-1 {
    background-color: unset;
    display: grid;
    grid-template-columns: 3fr 277px;
    grid-column-gap: 30px;

    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
}

.long {
    display: grid;
    grid-template-columns: 483px auto;
    background-color: #F8F6F6;
}

.hot-news h4 {
    background-color: transparent;
    text-align: right;
    height: 40px;
    line-height: 40px;
    vertical-align: center;
}

.description {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
}

.story {
    padding: 10px 24px 0;
    justify-self: end;
    align-self: start;
}

.short {
    display: grid;
    grid-template-rows: 210px auto;
    background-color: #F8F6F6;
}

.article-2 {
    display: grid;
    grid-template-rows: 259px 159px;

    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}
.article-3 {
    display: grid;
    grid-template-rows: 259px 159px;
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
}


.article-4 {
    display: grid;
    grid-template-rows: 259px 159px;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}

.article-5 {
    display: grid;
    grid-template-rows: 259px 159px;
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
}
.article-6 {
    display: grid;
    grid-template-columns: 277px 3fr;
    grid-column-gap: 30px;

    grid-column: 1 / span 4;
    grid-row: 4 / span 1;

}


footer {
    margin-top: 70px;
    height: 80px;
    display: flex;
    background-color: #1B1E20;
    font-size: 13px;
    line-height: 80px;
    vertical-align: middle;
    color: white;
}

footer p {
    margin: 0 465px 0 450px;

}

.logo-liot-1 {
    background-image: url("../img/logos/liot-1.png");
    width: 38px;
    height: 24px;
    margin-top: 29px;

}

.logo-liot-2 {
    background-image: url("../img/logos/liot-2.png");
    width: 64px;
    height: 16px;
    margin-top: 29px;

}

.upwards{
    opacity: 0;
   position: fixed;
    bottom: 80px;
    right: 20px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    background-color: #7F8080;
}

.toggle {
    background-color: #7F8080;

}


