body {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #484848;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
}

i {
    padding-right: 8px;
    color: #848484;
}

table {
    border: 8px solid #334059;
}

td, th{
    width: 277px;
    height: 69px;
    vertical-align: middle;
    line-height: 69px;

}

th {
    height: 86px;
    background-color: #FAFAFA;
    font-size: 20px;
    font-weight: bold;
    color: #484848;

}

tr:nth-child(even) {
    background-color: #E3E3E3;
}


tr:nth-child(odd) {
    background-color: #F2F2F2;
}

span {
    font-size: 30px;
    font-weight: bold;
}

.pricing-plan {
    font-weight: bolder;
    background-color: #FAFAFA;
    line-height: initial;
    height: inherit;
    vertical-align: middle;
}






.standard-plan {

    background-color: #7EBB35;
    font-size: 24px;
    color: white;
}

.ultimate-plan{

    background-color: #ED4650;
    font-size: 24px;
    color: white;
}

.premium-plan {
    background-color: #207470;
    font-size: 24px;
    color: white;
}


.wrapper {
    width: 200px;
    padding: 20px 33px 0;
}

.price, .dec, .month {
    float: left;
}

.price{
    line-height:50px;
    font-size: 60px;
}

.dec {
    line-height: 18px;
    font-size: 18px;
}

.month {
    float: left;
    color: #484848;
    line-height: 14px;
    font-size: 14px;
}

.clear-fix{
    display: block;
    clear: both;
}

.btn {
    margin-top: 36px;
    /*margin: 0 auto;*/
    display: inline-block;
    /*margin: 30px 44px 30px;*/
    /*vertical-align: middle;*/
    font-size: 16px;
    border-radius: 6px;
    width: 192px;
    height: 49px;
    line-height: 49px;
    color: white;
}






.dark-btn {
    background: linear-gradient(#393939 90%, #2E2E2E 90%);
}

.green-btn {
    background: linear-gradient(#7EBB35 90%, #7AAE34 90%);
}

.red-btn {
    background: linear-gradient(#ED4C5A 90%, #DD3C4A 90%);
}

.swamp-btn {
    background: linear-gradient(#26807C 90%, #1D736F 90%);
}









.dark-btn:hover {
    background: linear-gradient(#515151 90%, #2e181d 90%);
    cursor: pointer;
}

.green-btn:hover {
    background: linear-gradient(#98dc3c 90%, #7AAE34 90%);
    cursor: pointer;
}

.red-btn:hover {
    background: linear-gradient(#ff4c5a 90%, #DD3C4A 90%);
    cursor: pointer;
}

.swamp-btn:hover {
    background: linear-gradient(#2d9f9b 90%, #1D736F 90%);
    cursor: pointer;
}

.footer-darker {
    background-color: #DDDDDD;
    height: 120px;

}

.footer-light {
    height: 120px;
}

.shadow {
    float: left;
    width: 4px;
    height: inherit;
    background: linear-gradient(to right, rgba(89, 89, 89, 0.18), rgba(237, 237, 237, 0));
}

.shadow-expander {
    float: left;
    width: 4px;
    height: inherit;
    background: transparent;
}



.dark-btn-option {
    background: linear-gradient(#8e813f 90%, #666204 90%);
}

.green-btn-option {
    background: linear-gradient(#bb000c 90%, #ae032d 90%);
}

.red-btn-option {
    background: linear-gradient(#0d68ed 90%, #174cdd 90%);
}

.swamp-btn-option {
    background: linear-gradient(#91438f 90%, #734971 90%);
}