body {
    font-family: Verdana, sans-serif;
    color: #fff;
    font-size: 18px;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    width: 1366px;
    background-image: url("../img/background.png");
    background-size: cover;
    margin: 0 auto;
}

header {
    padding-top: 48px;
    padding-bottom: 45px;
    margin: 0 auto;
    width: calc(312px + 64px + 312px + 64px + 312px);
}


.logo {
    float: left;
    width: 250px;
    fill: white;
}

.ico {
    float: left;
}

.logo:hover {
    color: #EF5E2B;
    fill: #EF5E2B;
}


.milan {
    padding-left: 15px;
    display: inline-block;
    font-size: 29px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}

.hol {
    padding-left: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
}

.contacts {
    display: inline-block;
    float: right;
    text-align: right;
}


.main {
    box-sizing: content-box;
    width: calc(32px + 312px + 64px + 312px + 64px + 312px + 32px);
    margin: 0 auto;
}

.card {
    position: relative;
    float: left;
    display: inline-block;
    margin: 0 32px 56px;
    transition: all 300ms;
}

.card:hover .title {
    color: #EF5E2B;
}

.pic {
    width: 308px;
    border: 2px solid;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;


}

.title {
    padding-top: 20px;
    text-align: center;
}

.copy {
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}

.details {

    top: 142px;
    background-color: #EF5E2B;
    height: 63px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    opacity: 0;
    transition: all 300ms;
}


.card:hover .details {
    opacity: 1;
}

.pay {
    width: 30px;
    padding-top: 16px;
    padding-left: 20px;
}

.eyebrow {


    text-align: left;
    float: left;
    display: inline-block;

    font-size: 10px;
}

.price {

    text-align: left;
    float: left;
    display: inline-block;
    font-size: 20px;
}


.more {

    float: right;
    /*display: inline-block;*/
    font-size: 14px;
    padding-right: 20px;
    padding-top: 32px;
}

.more::after {
    padding-left: 20px;
    content: '>';
    opacity: .5;
}

.clear {
    clear: both;
}
